<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Job}}</title>
</head>
<body>
    <h1>Hello {{.Name}}</h1>
    <h2>Saya tinggal {{.Address.Street}}</h2>
</body>
</html>